$padding: 20px;
body {
    padding: $padding;
}
video {
  width: 614px;
  height: 500px;
}
canvas {
  width: 614px;
  height: 450px;
}

@-webkit-keyframes spin { to { -webkit-transform: rotate(360deg); } }

#spinner {
  -webkit-animation: spin 1s infinite linear;
}

.normal {}
.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.sepia {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}
.saturate {
  -webkit-filter: saturate(8);
  filter: saturate(8);
}
.hue-rotate-90 {
  -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
}
.hue-rotate-180 {
  -webkit-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
}
.hue-rotate-270 {
  -webkit-filter: hue-rotate(270deg);
  filter: hue-rotate(270deg);
}
.invert {
  -webkit-filter: invert(.8);
  filter: invert(.8);
}
.brightness {
  -webkit-filter: brightness(3);
  filter: brightness(3);
}
.contrast {
  -webkit-filter: contrast(4);
  filter: contrast(4);
}
.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
