$padding: 20px;
body {
    padding: $padding;
}
video {
  width: 614px;
  height: 500px;
}
canvas {
  width: 614px;
  height: 450px;
}

@-webkit-keyframes spin { to { -webkit-transform: rotate(360deg); } }

#spinner {
  -webkit-animation: spin 1s infinite linear;
}

.vortex-of-narcissism {
  height: 500px;
  width: 614px;

  margin: auto;
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.vortex-focus, .vortex-blur {
  -webkit-transition: all 0.4s ease;
}

.vortex-focus {
  -webkit-filter: none;
  -webkit-transform: scale(1)
}

.vortex-blur {
  -webkit-filter: blur(2px) grayscale(50%);
  -webkit-transform: scale(0.9)
}

.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.hue-rotate-90 {
  -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
}
.hue-rotate-180 {
  -webkit-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
}
.hue-rotate-270 {
  -webkit-filter: hue-rotate(270deg);
  filter: hue-rotate(270deg);
}
